<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__rubberBand" *ngFor="let movie of _movies">
        <img (click)="getDetails(movie)" [src]="movie.poster_path | poster" class="img-fluid poster">
        <!-- <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" class="img-fluid poster"> -->
        <div>
            <h3>{{movie.title}}</h3>
            <div class="row text-white">
                <div class="col-9">
                    <star-rating [value]="movie.vote_average" [totalstars]="10" checkedcolor="yellow"
                        uncheckedcolor="gray" size="14px" [readonly]="false"></star-rating>
                </div>
                <div class="col-2">
                    {{movie.vote_average | number: '1.1-2'}}
                </div>
            </div>
        </div>
    </div>
</div>